html, body {
    height: 100%;
}
body {
    color: #fff; 
    font: 20px "Courier Bold", Georgia, serif; font-weight: bold;
    background: #f7f6d3;
    padding: 1em;
}

body, a {
    color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
}

header, nav, article, aside, footer {
    padding: 1.2em; 
    background: #3b9ae1;
    border-radius: .5em;
    margin: 5px;
}

.wrapper{
    display: flex;
    justify-content: stretch;
}

header  { background: #e1803b;}

nav{
    background: #45d03e;
    order: 1;
    
 } 

article{
    background: #1230d7;
}

aside{ 
    background: #181a30;
    order: 3;
    flex-basis: 30%;
}

main{
    order: 2;
    height: auto;
}

footer  { 
    background:#ed34c2;
}

@media screen and (max-width:700px) {
    .wrapper{
        flex-direction: column;
    }
    
}




/* 
flex-grow: Ako veľký kus dostane, ak je miesto navyše?
flex-shrink: Ako veľmi sa zmenší, ak je miesta málo?
flex-basis: Aká veľkosť je základ, keď ešte nič nie je pridelené?
 */