header{
    background-color: #ffb663;
}

footer{
    background-color: #995092;
}

nav{
    background-color: #12a32d;
}

main{
    background-color: #0f61cc;
}

aside{
    background-color: #6c6c6c;
}