 html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    margin: 0;
    border: 2px orange solid;   
}

p{
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

p:nth-child(1){
    background-color: plum;
}

p:nth-child(2){
    background-color: burlywood;
}

p:nth-child(3){
    background-color: cyan;
}