 html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    margin: 0;
    border: 2px orange solid;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p{
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

p:nth-child(1){
    background-color: plum;
    order: 2;
    flex-grow: .5;
}

p:nth-child(2){
    background-color: burlywood;
    order: 3;
    flex-grow: 3;
}

p:nth-child(3){
    background-color: cyan;
    order: 1;
}



/* 
flex-grow: Ako veľký kus dostane, ak je miesto navyše?
flex-shrink: Ako veľmi sa zmenší, ak je miesta málo?
flex-basis: Aká veľkosť je základ, keď ešte nič nie je pridelené?
 */