@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body{
    background-color: hsl(30, 54%, 90%);
    font-family: Arial, Helvetica, sans-serif, serif;
}

.container{
    background-color: hsl(0, 0%, 100%) ;
    margin: 0px auto;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
}

img{
    width: 100%;
    border-radius: 10px;
}

h1,h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
}
h3{
    font-family: "Outfit", serif;

}

p, li{
    font-family: "Outfit", serif;
    font-weight: 400;
}

.priprava{
    background-color: hsl(330, 100%, 98%);
    line-height: 1.8em;
    padding: 10px;
    border-radius: 10px;
}

.priprava > h3{
    color: hsl(332, 51%, 32%);

}